.atypic-footer{
    .menu{
        justify-self: center;
        display:flex;
        align-items: center;
        justify-content: center;
        ul{
            display:flex;
            align-items: center;
            font-size: larger;
            justify-content: center;
            flex-wrap:wrap;
        }
    }
    .page_item{
        padding-right: 1rem;
        padding-left: 1rem;
        text-align: center;
        font-size:1.8rem;
    }
    .dashicons{
        font-size: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
    }
    .dashicons:before{
        font-size: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
    }
    .custom-logo{
        width:100%;
        height:auto;
    }
}